<div class="signup-form">
  <h2>Get Started Now</h2>
  <h3>It's Simple and It's FREE!</h3>
  <p><strong>Trimplify</strong> allows you to set weight loss goals through simple online tools and track your progress.</p>
  <div class="form-content">
  	<%= simple_form_for @user_vital, defaults: { my_wrapper_html: { class: 'col-lg-6' } } do |f| %>
			<%= f.input :gender, 
          collection: [['M', 'Male'], ['F', 'Female']],
          label: 'Select your gender', 
          label_method: :last, 	
          value_method: :first,
          as: :select,
          my_wrapper_html: { class: 'col-lg-4' }
			%>
			<%= f.input :height,
					collection: 3..8,
					label: 'Enter your height',
					my_wrapper_html: { class: 'col-lg-2' }
      %>
			<div class="form-group reg-submit">
				<div class="col-lg-6 col-lg-offset-4">
					<%= f.button :submit, "Let's Get Started", :class => 'btn-custom btn-lg' %>
				</div>
			</div>
		<% end %>
  </div>
</div>


			
