<section class="home-header">
      <div class="container">
        <div class="col-md-6 col-md-offset-6">
          <div class="signup-form">
            <h2>Get Started Now</h2>
            <h3>It's Simple and It's FREE!</h3>
            <p><strong>Trimplify</strong> allows you to set weight loss goals through simple online tools and track your progress.</p>
            <div class="form-content">
              <form class="form-horizontal" role="form" action="#" method="post">
                <div class="form-group">
                  <label class="col-sm-5 control-label" for="gender">Select your gender:</label>
                  <div class="col-sm-4">
                    <select name="gender" class="form-control">
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-5 control-label" for="height_feet">Enter your height:</label>
                  <div class="col-sm-3">
                    <select name="height_feet" class="form-control">
                      <option value="3">3 feet</option>
                      <option value="4">4 feet</option>
                      <option value="5">5 feet</option>
                      <option value="6">6 feet</option>
                      <option value="7">7 feet</option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <select name="height_feet" class="form-control">
                      <option value="1">1 inch</option>
                      <option value="2">2 inches</option>
                      <option value="3">3 inches</option>
                      <option value="4">4 inches</option>
                      <option value="5">5 inches</option>
                      <option value="6">6 inches</option>
                      <option value="7">7 inches</option>
                      <option value="8">8 inches</option>
                      <option value="9">9 inches</option>
                      <option value="10">10 inches</option>
                      <option value="11">11 inches</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-5 control-label" for="weight">Enter your current weight:</label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" name="weight">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-sm-5 control-label" for="birthdate">What's your birthdate?:</label>
                  <div class="col-xs-3">
                    <select name="birth_month" class="form-control">
                      <option value="1">January</option>
                      <option value="2">February</option>
                      <option value="3">March</option>
                    </select>
                  </div>
                  <div class="col-xs-2">
                    <select name="birth_day" class="form-control">
                      <option value="1">January</option>
                      <option value="2">February</option>
                      <option value="3">March</option>
                    </select>
                  </div>
                  <div class="col-xs-2">
                    <select name="birth_year" class="form-control">
                      <option value="1">1980</option>
                      <option value="2">1981</option>
                      <option value="3">1982</option>
                    </select>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="home-features">
      <div class="container">
        <div class="callout">
          <h2>Track Your Progress, Lose Weight and Have Fun!</h2>
          <h3>Trimplify is an easy to use, online weight management utility that allows the user to track his/her weight loss progress over time.</p></h3>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h2>What is Trimplify?</h2>
            <p>Losing weight can be difficult when you can't measure your progress over time. Trimplify will calculate vital information such as your body mass index (BMI), your resting metabolic rate (BMR) and your total daily energy expediture (TDEE) based on the values you provide.</p>            
          </div>
          <div class="col-md-6">
          	<%= image_tag("weight-loss.jpg", :alt => "Weight Loss") %>
          </div>
        </div>
      </div>
    </section>
