		<% if flash[:errors] %>
			<% flash[:errors].each do |error| %>
				<p class="alert alert-danger"><%= error %></p>
			<% end %>
		<% end %>
		<section class="home-header">
      <div class="container">
        <div class="col-md-6 col-md-offset-6">
					<%= render 'partials/register_form' %>
        </div>
      </div>
    </section>
    <section class="home-features">
      <div class="container">
        <div class="callout">
          <h2>Track Your Progress, Lose Weight and Have Fun!</h2>
          <h3>Trimplify is an easy to use, online weight management utility that allows the user to track his/her weight loss progress over time.</p></h3>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h2>What is Trimplify?</h2>
            <p>Losing weight can be difficult when you can't measure your progress over time. Trimplify will calculate vital information such as your body mass index (BMI), your resting metabolic rate (BMR) and your total daily energy expediture (TDEE) based on the values you provide. Receive visual feedback of your weight loss progress through a series of data visualizations. </p> 
            <%= image_tag("weight-chart-demo.jpg", :alt => 'Weight chart') %>           
          </div>
          <div class="col-md-6">
          	<%= image_tag("weight-loss.jpg", :alt => "Weight Loss") %>
          </div>
        </div>
      </div>
    </section>
