// import the CSS framework
@import "bootstrap";

body {
  background: #242424;
  color: #222;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  line-height: 22px;
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #fff;
  padding-bottom: 40px;
  width: 100%;
  margin-top: 0; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 0;
  }
  
.navbar-brand {
  float: left;
  height: 60px;
  padding: 0;
  position: relative;
  width: 201px;
}


.navbar-brand img {
  position: absolute;
  top: 10px;
}

.navbar {
  border: 1px solid rgba(0, 0, 0, 0);
  margin-bottom: 0;
  min-height: 60px;
  position: relative;
}

.navbar .container {
  position:relative;
}

.navbar-toggle {
  margin-top:20px;
}

.navbar .greeting {
  color: #FFFFFF;
  margin: 10px 10px 0 0;
}

.navbar-nav > li > a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding: 8px 5px;
  text-transform: uppercase;
}

.tagline {
  bottom: -35px;
  left:3px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  text-transform: uppercase;
}

.navbar-nav > li > a.login {
  margin-left:10px;
}

.navbar-nav > li > a.login,
.navbar-nav > li > a.logout  {
  color:#e0b818;
  font-size:12px;
}

.navbar-nav > li > a.login span,
.navbar-nav > li > a.logout span {
  color:#999;
}

.home-header {
  background-color: #BBBBBB;
  background-image: image-url("home-section.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  min-height: 613px;
  position: relative;
  text-align: left;
}

.home-header .container {
  padding-left:0;
  padding-right:0;
}

.home-features {
  background-color: #fff;
  color: #2a2a2a;
  min-height: 300px;
  margin-bottom: 30px;
  padding: 20px;
  position: relative;
  text-align: left;
}

.home-features h2 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -1px;
}

.home-features .callout h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1em;
  text-align: center;
}

.home-features .callout h3 {
  font-size: 25px;
  font-weight: 300;
  margin: 0 auto;
  max-width: 850px;
  text-align:center;
}

.home-features .callout {
  margin-bottom: 30px;
}

.home-features p {
  font-size: 16px;
}

.signup-form {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  float: right;
  margin-top: 40px;
  max-width: 500px;
  min-height: 300px;
  padding: 20px 15px;
}

.signup-form .form-content {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
  padding: 25px;
}

.signup-form .form-content {
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.signup-form h2 {
  font-size: 36px;
  margin: 0 0 4px;
  color: #fff;
}

.signup-form h3 {
  font-size: 18px;
  margin: 0 0 8px;
  color: #f2c302;
}

.signup-form .form-group {
  margin-bottom:0;
}

.signup-form .form-group.reg-submit {
  margin-top:10px;
}

.signup-form .form-horizontal .control-label {
  color: #E2E2E2;
  font-size: 14px;
  font-weight:500;
  padding-left: 0;
  text-align: right;
}

.signup-form .control-label abbr {
  border:none;
  color:#f2c302;
}

.signup-form .has_error .help-inline {
  color: #FF272C;
}

.signup-form .btn-custom { 
  background-color: hsl(26, 100%, 39%) !important; 
  background-repeat: repeat-x; 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe8223", endColorstr="#c65600"); 
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fe8223), to(#c65600)); 
  background-image: -moz-linear-gradient(top, #fe8223, #c65600); 
  background-image: -ms-linear-gradient(top, #fe8223, #c65600); 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe8223), color-stop(100%, #c65600)); 
  background-image: -webkit-linear-gradient(top, #fe8223, #c65600); 
  background-image: -o-linear-gradient(top, #fe8223, #c65600); 
  background-image: linear-gradient(#fe8223, #c65600); 
  border-color: #c65600 #c65600 hsl(26, 100%, 34.5%);
  color:#fff;
}

footer {
  color: #9A9C9C;
  font-size: 11px;
  text-align: center;
}

.profile-pic {
  float:left;
  margin-right: 10px;
  width:175px;
  height:225px;
}

.profile-table {
  display: table;
  table-layout: fixed;
  width: 400px;
}

.profile-row {
  display: table-row;
}

.profile-cell {
  display: table-cell;
  font-size: 13px;
  font-weight: 700;
}

// Set style based on viewport size
@media(min-width: 768px) {
  .navbar .greeting {
    color: #FFFFFF;
    margin: 10px 10px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
  }

  .navbar-nav > li > a {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 36px 10px 4px;
    text-transform: uppercase;
  }

  .home-header .container {
    padding-left:15px;
    padding-right:15px;
  }

  .home-features .callout h2 {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: -1px;
    text-align: center;
  }

  .home-features .callout h3 {
    font-size: 25px;
    font-weight: 300;
    margin: 0 auto;
    max-width: 850px;
  }

  .signup-form {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    min-height: 300px;
    margin-top: 40px;
    padding: 20px 25px;
  }
}

@media(min-width: 992px) {
  .navbar-nav > li > a {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 36px 5px 4px;
    text-transform: uppercase;
  }

  .tagline {
    color: #9A9C9C;
    float: left;
    font-size: 12px;
    font-weight: 500;
    margin-top: 35px;
    position:relative;
    top:0;
    text-transform: uppercase;
  }

  .signup-form .form-horizontal .control-label {
    color: #E2E2E2;
    font-size: 16px;
    padding-left: 0;
    text-align: right;
  }
}

@media(min-width: 1200px) {
  
  .navbar-nav > li > a {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 34px 10px 3px;
    text-transform: uppercase;
  }

  .signup-form .form-group {
    margin-bottom:15px;
  }
}
