//= depend_on_asset "home-section.jpg"
//= depend_on_asset "profile-hdr-bkg.png"

// import the CSS framework
@import "bootstrap";

body {
  background: #242424;
  color: #222;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  line-height: 22px;
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

.strong {
  font-weight:700;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #3f3F3f;
  padding-bottom: 40px;
  width: 100%;
  margin-top: 0; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 0;
  }

main .container:first-child {
  background-color:#fff;
}

.navbar-brand {
  display: block;
  float: none;
  height: 60px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 201px;
}

.navbar-brand img {
  position: absolute;
  top: 10px;
}

.navbar {
  border: 1px solid rgba(0, 0, 0, 0);
  margin-bottom: 0;
  min-height: 60px;
  position: relative;
  text-align:center;
}

.navbar .container {
  position:relative;
}

.navbar-toggle {
  margin-top:20px;
}

.navbar .greeting {
  color: #FFFFFF;
  margin: 10px 10px 0 0;
}

.navbar-nav > li > a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding: 8px 5px;
  text-transform: uppercase;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a.active {
  background-color: #666 !important;
}

.tagline {
  visibility:hidden;
  position:absolute;
}

.navbar-nav > li > a.login {
  margin-left:10px;
}

.navbar-nav > li > a.login,
.navbar-nav > li > a.logout  {
  color:#e0b818;
  font-size:12px;
}

.navbar-nav > li > a.login span,
.navbar-nav > li > a.logout span {
  color:#999;
}

.home-header {
  background-color: #BBBBBB;
  background-image: image-url("home-section.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  min-height: 613px;
  position: relative;
  text-align: left;
}

.home-header .container {
  padding-left:0;
  padding-right:0;
}

.home-features {
  background-color: #fff;
  color: #2a2a2a;
  min-height: 300px;
  margin-bottom: 30px;
  padding: 20px;
  position: relative;
  text-align: left;
}

.home-features h2 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -1px;
}

.home-features .callout h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1em;
  text-align: center;
}

.home-features .callout h3 {
  font-size: 25px;
  font-weight: 300;
  margin: 0 auto;
  max-width: 850px;
  text-align:center;
}

.home-features .callout {
  margin-bottom: 30px;
}

.home-features p {
  font-size: 16px;
}

.signup-form {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  float: right;
  margin-top: 40px;
  max-width: 500px;
  min-height: 300px;
  padding: 20px 15px;
}

.signup-form .form-content {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
  padding: 25px;
}

.signup-form .form-content {
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.signup-form h2 {
  font-size: 36px;
  margin: 0 0 4px;
  color: #fff;
}

.signup-form h3 {
  font-size: 18px;
  margin: 0 0 8px;
  color: #f2c302;
}

.signup-form .form-group {
  margin-bottom:0;
}

.signup-form .form-group.reg-submit {
  margin-top:10px;
}

.signup-form .form-horizontal .control-label {
  color: #E2E2E2;
  font-size: 14px;
  font-weight:500;
  padding-left: 0;
  text-align: right;
}

.signup-form .control-label abbr {
  border:none;
  color:#f2c302;
}

.signup-form .has_error .help-inline {
  color: #FF272C;
}

.signup-form .btn-custom { 
  background-color: hsl(26, 100%, 39%) !important; 
  background-repeat: repeat-x; 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe8223", endColorstr="#c65600"); 
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fe8223), to(#c65600)); 
  background-image: -moz-linear-gradient(top, #fe8223, #c65600); 
  background-image: -ms-linear-gradient(top, #fe8223, #c65600); 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe8223), color-stop(100%, #c65600)); 
  background-image: -webkit-linear-gradient(top, #fe8223, #c65600); 
  background-image: -o-linear-gradient(top, #fe8223, #c65600); 
  background-image: linear-gradient(#fe8223, #c65600); 
  border-color: #c65600 #c65600 hsl(26, 100%, 34.5%);
  color:#fff;
}

footer {
  color: #9A9C9C;
  font-size: 11px;
  text-align: center;
}

input[id="user_vital_start_weight"],
input[id="user_vital_target_weight"],
input[id="weight_stat_weight"] {
  float:left;
  margin-right:10px;
  width:68px !important;
}

.profile-header {
  border-bottom: 2px solid #000;
  background: #fff image-url("profile-hdr-bkg.png") repeat-x 0 0;
  padding:10px;
}

.profile-pic {
  margin-right: 10px;
  width:175px;
  height:165px;
}

.profile-table {
  display: table;
  table-layout: fixed;
}

.profile-table .edit-vitals {
  margin-top:14px;
}

.profile-row {
  display: table-row;
}

.profile-cell {
  display: table-cell;
  font-size: 12px;
  line-height:18px;
}

.complete-date {
  background: none repeat scroll 0 0 #EEEEEE;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin:20px 0;
  padding: 10px;
  text-align: center;
}

.complete-date .date {
  color: #64B621;
  font-size: 28px;
  padding-top: 10px;
}

.box-container{
    position:relative;
    z-index:0;
    margin:5px 0 15px;
    /*background:#fff;
    width:40%;
    min-width:360px;
    margin:40px auto;
    padding:30px 30px 45px 30px;
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 20px rgba(0,0,0,0.1);
    border:1px solid #e7e7e7;*/
}

/*********************
VARS
*********************/

$general-background-color:  rgba(255,255,255,0);
$text-color:  #fff;

/* bar colors */
$blue:    rgba(0,169,224,1);
/*$red:   rgba(239,85,40,1);*/
$red:   rgba(237,34,34,1);
$green:   rgba(100,182,33,1);
$orange:  rgba(240,127,5,1);
/*$purple:  rgba(148,6,207,1);*/
$purple:  rgba(178,66,226,1);



/*********************
MIXINS
*********************/

/* border radius */
@mixin border-radius($radius) {
  // defining prefixes so we can use them in mixins below
  $prefixes:      ("-webkit", "-moz", "-ms", "-o",  "");
  @each $prefix in $prefixes {
    #{$prefix}-border-radius: $radius;
  }
  border-radius: $radius;
}


/* gradient backgrounds and reflections */
@mixin css-gradient($from, $to, $start, $end) {
  background: $to;
  background: -webkit-linear-gradient(top, $from $start, $to $end);
  background: -moz-linear-gradient(top, $from $start, $to $end);
  background: -o-linear-gradient(top, $from $start, $to $end);
  background: linear-gradient(to bottom, $from $start, $to $end);
}


/* let's make an actual bar */
@mixin bar($current-color){ 
  display:block;
  position:relative;
  height:30px;
  float:left;
  margin:5px 1px 20px 0;
  text-align:center;
  line-height:2.3em;
  color:$text-color;
  box-shadow: inset  0px 1px 0px rgba(255, 255, 255, .5);
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  border:1px solid $current-color;
  @include css-gradient( lighten($current-color,30%), $current-color, 0%, 100%);
  
  &:after
  {
    content:"";
    position:absolute;
    z-index:-1;
    top:30px;
    width:100%;
    height:100%;
    border-radius:inherit;
    left:-1px;
    padding:1px;
    @include css-gradient( transparentize($current-color,0.5), $general-background-color, 0%, 40%);
  }
}


/* and add more colorful bars. Now you only need to import BAR mixin, and set $current-color variable, with, and border radius */
.blue-bar{
  @include bar($blue);  
  width:55%;
  @include border-radius(8px 0 0 8px);
}

.red-bar{
  @include bar($red); 
  /*width:39%;
  @include border-radius(0 8px 8px 0);*/
}

.green-bar{
  @include bar($green); 
  width:55%;
  @include border-radius(8px 0 0 8px);
}

.orange-bar{
  @include bar($orange);  
  width:25%;
  @include border-radius(0 8px 8px 0);
}

.purple-bar{
  @include bar($purple);  
  /*width:29%;
  @include border-radius(0 8px 8px 0);*/
}

.box {
  margin: 10px 5px 0 0;
  width:145px;
  height:60px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  @include border-radius(8px);
}

.box p.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 0.5em;
  margin: 18px 0 3px;
}

.box p.title span {
  font-size: 14px;
  font-weight:normal;
  letter-spacing:0;
}

.box p.desc {
  color:#474646;
  font-size: 12px;
  font-weight:normal;
  line-height:18px;
  margin:0;
  text-shadow:none;
}

.profile-cell {
  display: table-cell;
  font-size: 12px;
  line-height:18px;
}

#weight-input-form {
  margin-right:10px;
  margin-top: 15px;
}

#weight-input-form form {
  display:inline-block;
  width: 320px;
}

#weight-input-form .notice{
  color:#fff;
  background:#5cb85c;
  display:none;
  border: 1px solid green;
  border-radius: 6px;
  padding:8px;
}

.weight-input-date {
    span {
      font-weight:700;
      font-style: italic;
    }
}


// Set style based on viewport size
@media(min-width: 768px) {
  .navbar-brand {
    float: left;
    height: 60px;
    padding: 0;
    position: relative;
    width: 201px;
  }

  .navbar .greeting {
    color: #FFFFFF;
    margin: 6px 10px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
  }

  .navbar-nav > li > a {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 36px 10px 4px;
    text-transform: uppercase;
  }

  .home-header .container {
    padding-left:15px;
    padding-right:15px;
  }

  .home-features .callout h2 {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: -1px;
    text-align: center;
  }

  .home-features .callout h3 {
    font-size: 25px;
    font-weight: 300;
    margin: 0 auto;
    max-width: 850px;
  }

  .signup-form {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    min-height: 300px;
    margin-top: 40px;
    padding: 20px 25px;
  }

  .profile-cell {
    display: table-cell;
    font-size: 14px;
    line-height:20px;
  }

  .box {
    margin: 10px 5px 0 0;
    width:150px;
    height:70px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    @include border-radius(8px);
  }

  .box p.title {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 0.5em;
    margin: 20px 0 3px;
  }

  .box p.title span {
    font-size: 14px;
    font-weight:normal;
    letter-spacing:0;
  }

  .box p.desc {
    color:#474646;
    font-size: 12px;
    font-weight:normal;
    line-height:18px;
    margin:0;
    text-shadow:none;
  }

  .complete-date {
    background: none repeat scroll 0 0 #EEEEEE;
    font-size: 18px;
    font-weight: 700;
    margin:20px 0;
    padding: 10px;
    text-align: center;
  }

  .complete-date .date {
    color: #64B621;
    font-size: 36px;
    padding-top: 10px;
  }
}

@media(min-width: 992px) {
  .navbar-nav > li > a {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 36px 5px 4px;
    text-transform: uppercase;
  }

  .tagline {
    color: #9A9C9C;
    float: left;
    font-size: 12px;
    font-weight: 500;
    margin-top: 35px;
    position:relative;
    top:0;
    text-transform: uppercase;
    visibility: visible;
  }

  .signup-form .form-horizontal .control-label {
    color: #E2E2E2;
    font-size: 16px;
    padding-left: 0;
    text-align: right;
  }
}

@media(min-width: 1200px) {
  
  .navbar-nav > li > a {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 34px 10px 3px;
    text-transform: uppercase;
  }

  .signup-form .form-group {
    margin-bottom:15px;
  }
}

